<h1>{{title}}</h1>
<p>Game page</p>
<table>
    <tr id="r1">
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="r2">
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr id="r3">
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
