<h1>
    {{title}}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="1031451196546-1na7gtkuushds7qol1rmacq73vhft3kg.apps.googleusercontent.com">
    
</h1>

<p>Welcome to {{title}}</p>
{{#if status}}
<div class="g-signin2" style='pointer-events:none'></div>
<h2>Hello {{username}}, how are you doing today?</h2>
{{else}}
<div class="g-signin2" data-onsuccess="onSignIn"></div>

{{/if}}
<form action="/" method="POST" id="login">
</form>

<script src="/scripts/signIn.js"></script>

