<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <meta name="google-signin-client_id" content="1031451196546-1na7gtkuushds7qol1rmacq73vhft3kg.apps.googleusercontent.com">
  </head>
  <body>

<script>
  window.onload= function(){
      
       gapi.load('auth2', function() {
        gapi.auth2.init().then(function(){

    auth2 = gapi.auth2.getAuthInstance();
    console.log(auth2.isSignedIn.get()); 
    if (auth2.isSignedIn.get()) {
	var profile = auth2.currentUser.get().getBasicProfile();
	document.getElementById('signOutBtn').style.visibility='visible';
	// emit email here to socket.io, on the back end socket.io will connect email to socket.id
	socket.emit("sendEmail", {"email":profile.getEmail()}); 
	}
      })
  });
    
    //Hide sign out if not logged in
  //    console.log(gapi.auth2.getAuthInstance().isSignedIn.get());
   

     //   document.getElementById('signOutBtn').style.display='block';
   // }

    //}

  }
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
      document.cookie = "status=loggedOut";
      window.location.href="/";
        
         if(hidden) {
           document.getElementById('signOutBtn').style.visiblity='hidden';
        } 
    });
  }
</script>
      
    <a id='signOutBtn' href="/" onclick="signOut();" style="visibility:hidden;">Sign out</a>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
		var socket = io();
    socket.on("hi", function(data) {
      console.log(data);
      for (var i=0; i <data.board.length; i++) {
        if (data.board[i] != "0") {
          $("#" + i).html(data.board[i]);
        }
      }
      if(data.turn == "0") {
        $("#player-turn").html("0");
      }
      else {
        $("#player-turn").html("1");
      }
    });
	
    socket.on("wannaPlay",function(data){
	if(confirm("Click OK to play a game with " + data.username +". Click CANCEL to decline.") == true) {
		// send accept function back to server, this will confirm i accept and want to start game
		// redirect to game page
		socket.emit("accept",{"idOfChallenger":data.idOfChallenger});
		window.location.href="http://tictactoemania.com:3000/game";
			
	}
	else {
		// send decline function back to server, declining the invitation and informing the other user
		// this will reenable their buttons
		socket.emit("decline",{"idOfChallenger":data.idOfChallenger});
	}
    });

    socket.on("challengeeDeclined", function(data) {
	console.log("challengee declined, releasing buttons");
	alert("Challengee declined");
	document.getElementById("anyBtn").disabled = false;
    });
    
    socket.on("toGame", function(data) {
	window.location.href="http://tictactoemania.com:3000/game";
    });
	</script>
    {{{body}}}
  </body>
</html>
