<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <meta name="google-signin-client_id" content="1031451196546-1na7gtkuushds7qol1rmacq73vhft3kg.apps.googleusercontent.com">
  </head>
  <body>

<script>
  window.onload= function(){
      
       gapi.load('auth2', function() {
        gapi.auth2.init().then(function(){

    auth2 = gapi.auth2.getAuthInstance();
    console.log(auth2.isSignedIn.get()); 
            if (auth2.isSignedIn.get())
      document.getElementById('signOutBtn').style.visibility='visible';
      })
  });
    
    //Hide sign out if not logged in
  //    console.log(gapi.auth2.getAuthInstance().isSignedIn.get());
   

     //   document.getElementById('signOutBtn').style.display='block';
   // }

    //}

  }
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
      document.cookie = "status=loggedOut";
      window.location.href="/";
        
         if(hidden) {
           document.getElementById('signOutBtn').style.visiblity='hidden';
        } 
    });
  }
</script>
      
    <a id='signOutBtn' href="/" onclick="signOut();" style="visibility:hidden;">Sign out</a>
    
          
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script>
		var socket = io();
	</script>
  </body>
</html>
