<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
      
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/signIn.js"></script>
    <script>
		var socket = io();
	</script>
  </body>
</html>
