<h1>{{title}}</h1>
<h2>Welcome! Please create a new account:</h2>
<div id=prompt_page>
<form action="/signup" method='post'>
  <div class="container">
    <label><b>Pick a username: </b></label>
    <input type="username" placeholder="Enter Username" name="username" required>
    {{#if error}}
    <label style='color:red'>Sorry, this username is already taken!</label>
    {{/if}}
      
    <br><br>
    <label><b>Where are you playing from? (optional)</b></label>
    <input type="location" placeholder="Enter Location" name="location">
      
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button"  class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

    