<h1>{{title}}</h1>
<div id=prompt_page>
<form action="/action_page.php">
  <div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label><b>Pick a username</b></label>
    <input type="username" placeholder="Enter Username" name="" required>
      
    <label><b>Where are you playing from?</b></label>
    <input type="location" placeholder="Enter Location" name="uLocation" required>
      
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button"  class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

    