body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
    text-align:center;
}

a {
  color: #00B7FF;
}

/*
td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
*/
.rankings_table
{
    width:100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#profile_badge{
   position:absolute;
   top:0;
   right:0;
}
#profile_pic {
    float:left;
    width:30%;
    border-radius: 50%;
}
#profile_name {
    float:right;
    width=70%;
}
